.App {
  text-align: center;
}

.background{
  background-image: url(../src/assets/images/123.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position : center;


}

.btn{ margin-left: 10px;}

.navbar{
  color:black;
  
}

.item-image{
  cursor: pointer;
}

.list-price{
  margin-bottom: 0;
}

.item-stock{
  color: #f53b57;
  font-weight: 700;
  font-size: 20px;
}

.cart-decrease{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ecf0f1;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin:0 auto;
  font-weight: 700;
 margin-right: 10px;

}

.cart-increase{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ecf0f1;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin:0 auto;
  font-weight: 700;
  margin-left: 10px;

}

.cart-count{
 
  width: 105px;
}
.cart-back{
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  
}