.App {
  text-align: center;
}

.background{
  background-image: url(../src/assets/123.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position : center;


}

.btn{ margin-left: 10px;}

.navbar{
  color:black;
  
}

.item-image{
  cursor: pointer;
}